body {
    width:100%;
    padding:0;
    margin:0;
    text-align: center;
    font-size: 14px;
    list-style-position: inside;
}
a {
    color:cadetblue;
    text-decoration: none;
}
p {
    margin-top:40px;
}
h1 {
    display: none; 
}
h2 {
    display: inline;
    color:cadetblue;
}
h3 {
    color:cadetblue;
}
ul {
    padding:0;
}
ol {
    width: 50%;
    padding:0;
    margin-left: 24%;
}
.menu {
   display: none;
}
.nav {
    display: none;
}
.btn {
    display:inline-block;
    padding: 0 20px;
    font-size: 14px;
}
.notice {
    margin-right:10%;
}
.todolist {
    width: 260px;
    margin-top:50px;
    margin-left: 0;
    padding:10px;
    border: 1px solid cadetblue;
}
.goal {
    list-style: none;
    margin:10px;
}
/*위시리스트*/
.wishlist {
    width: 50%;
    margin-left:23%;
    margin-top:70px;
    margin-bottom:50px;
    padding:10px;
    border: 1px solid black;
    text-align:center;
}
.wishlist2 {
    width: 50%;
    margin-left:23%;
    margin-top:70px;
    margin-bottom:50px;
    padding:10px;
    border: 1px solid black;
    text-align:center;
}
.goal2 {
    margin:15px;
}
/*지난 일정 보러가기*/
.date {
    display: block;
    margin-top: 40px;
}
.ex {
    list-style:none;
    padding-left: 0;
    padding-top: 15px;
}
.end{
    font-weight: bold;
}
/*그림 보러가기*/
.genre {
    margin-top:40px;
}
.genrename {
    margin-bottom:20px;
}