body {
    width:100%;
    margin-left:0;
    text-align: center;
    list-style-position: inside;
}
a {
    color:cadetblue;
    text-decoration: none;
}
p {
    margin-top:40px;
}
h1 {
    display:inline-block;
    vertical-align: middle;
    padding:0 20px;
    margin:0;
}
h2 {
    margin-bottom:40px;
}
ul {
    padding:0;
}
ol {
    padding-left:0;
}
.menu {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    color:cadetblue;
    background-color:#fff;
}
.nav {
    display: inline-block;
    vertical-align: middle;
    padding:0;
}
.content {
    width:70%;
    margin-top:70px;
    margin-left:15%;
    padding:20px;
}
.todolist {
    width: 40%;
    margin-left:29%;
    margin-top:70px;
    margin-bottom:50px;
    padding:10px;
    border: 1px solid black;
    text-align:center;
}
.goal {
    list-style: none;
    margin:10px;
}
.goal2 {
    margin:15px;
}
.btn {
    display:inline-block;
    padding: 0 20px;
    font-size: 14px;
}
/*위시리스트*/
.wishlist {
    width: 50%;
    margin-left:23%;
    margin-top:70px;
    margin-bottom:50px;
    padding:10px;
    border: 1px solid black;
    text-align:center;
}
.wishlist2 {
    width: 50%;
    margin-left:23%;
    margin-top:70px;
    margin-bottom:50px;
    padding:10px;
    border: 1px solid black;
    text-align:center;
}
/*지난 일정 보러가기*/
.date {
    display: block;
    margin-top: 40px;
}
.ex {
    list-style:none;
    padding-left: 0;
    padding-top: 15px;
}
.end{
    font-weight: bold;
}
/*그림 보러가기*/
.genre {
    margin-top:40px;
}
.genrename {
    margin-bottom:20px;
}